{% extends 'base.html' %}


{% block content %}

<h1 class="mx-auto mt-5" style="width: 200px;">Home</h1>
<p class="mx-auto mt-5" style="width: 900px;" >Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat inventore odio reprehenderit dicta porro vitae deserunt quo adipisci iure accusamus rem, dolor libero excepturi nam consectetur itaque odit tenetur delectus?</p>
<br>
<p class="mx-auto" style="width: 900px;"> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Debitis cupiditate dolores, minus non alias dignissimos quo? Delectus ipsum vel, ipsam dicta saepe quas eaque, dolore, voluptatum natus repellat ullam veniam!</p>

{% endblock %}
